.stream {
    > h2 {
        text-transform: uppercase;
    }
}

.stream__activities {
    list-style-type: none;
    padding-left: 0;

    li {
        background-position: left 20px;
        background-repeat: no-repeat;
        margin-bottom: 12px;
        padding-left: 0;
    }

    footer {
        font-size: 0.875rem;
        text-align: right;

        img {
            margin-bottom: 2px;
        }
    }
}

.homepage {
    @include media($large) {
        .stream {
            margin-left: 40px;
        }

        .stream__activities {
            padding-left: 0;
        }
    }

    h2 {
        font-size: 1.5rem;
    }

    .sidebar a,
    .entry-meta a {
        color: #0097bb;
    }

    .post-list {
        li {
            font-size: 1rem;
            padding-left: 0;
        }

        a > span {
            display: block;
            float: none;
            margin-top: 12px;
        }
    }

}

.chr-card {
    box-shadow: -8px 8px 10px 0 rgba(204, 204, 204, 0.47);
    padding: 10px;
}

.chr-card__title {
    font-weight: bold;
}

.chr-card__content {
    font-style: normal;
    margin-bottom: 12px;
}

.chr-card__meta {
    font-size: 0.875rem;
    text-align: right;
}

