{% include head.html %}

{% include navigation.html %}

<div id="main" role="main" class="h-feed">
  <div class="entry-wrapper">
    <div style="border-bottom: 1px solid #ddd; padding-bottom: 20px; overflow: hidden;" class="h-card">
      <img class="u-photo" src="/images/bio-photo.png" style="float: left; width: 96px; border-radius: 50%; margin-right: 20px;">
      Hi! I'm <span class="p-name p-author">Chimo</span>. This is my
      <a href="http://indiewebcamp.com/indieweb">IndieWeb</a>.
      <a href="http://indiewebcamp.com/IRC-people">There are many like it</a>,
      but this one is mine.<br>
      Make yourself comfortable, have a look around and <a href="/about">let's talk</a>!

      <div id="geo-container" style="display: none;">
        <span class="fa fa-map-marker"></span>
        <a style="font-size: small;" id="geo" href=""></a>
        <time datetime="" style="font-size: small;" id="geo-timestamp"></time>
      </div>
    </div>
    <div class="sidebar">
      <h2>
          Blog<br>
          Posts&nbsp;<a href="/feed.xml"><span class="fa fa-rss"></span></a>
      </h2>

      <ul class="post-list">
      {% for post in site.categories.blog limit:10 %}
        <li>
          <article class="h-entry">
            <a class="u-url" href="{{ site.url }}{{ post.url }}">
              <span class="p-name" style="margin-top: 0;">{{ post.title }}</span>
              <span class="entry-date">
                <time class="dt-published"
                    datetime="{{ post.date | date_to_xmlschema }}">
                      {{ post.date | date: "%B %d, %Y" }}
                </time>
              </span>
            </a>
          </article>
        </li>
      {% endfor %}
      </ul>
    </div>

    <div class="content">
      <div class="stream">
        <h2 class="p-name">
            Realtime<br>
            Updates&nbsp;<a href="/updates.atom"><span class="fa fa-rss"></span></a>
        </h2>
        {{ content }}
      </div>
    </div>
  </div><!-- /.entry-wrapper -->

</div><!-- /#main -->

{% include footer.html %}

<ol id="tpl" style="display: none;">
    <li class="">
        <figure class="h-entry chr-card">
            <figcaption class="p-name chr-card__title"></figcaption>
            <blockquote class="e-content chr-card__content" cite="">

            </blockquote>
            <footer>
                <!-- TODO: link to specific types -->
                <!-- TODO: JS progressive enhancement brings data in stream instead of navigating to other page -->
                <a class="interactions-link" href="http://chromic.org/update/#interactions">
                <ul class="interaction-icons" data-webmention-count data-url="https://chromic.org/update/">
                    <li class="interaction-icon comments">
                        <span class="num">0</span>
                        <span class="fa fa-comments"></span>
                        <span class="sr-only">mentions</span>
                    </li>
                    <li class="interaction-icon likes">
                        <span class="num">0</span>
                        <span class="fa fa-heart"></span>
                        <span class="sr-only">likes</span>
                    </li>
                    <li class="interaction-icon repeats">
                        <span class="num">0</span>
                        <span class="fa fa-recycle"></span>
                        <span class="sr-only">repeats</span>
                    </li>
                </ul>
                </a>
                <a class="u-url" href="/update/">
                    <time class="dt-published timeago" datetime=""></time>
                </a>
                via
                <a class="foreign-url" href="">
                    <img class="foreign-service" src="/images/homepage/.png" title="" alt="">
                </a>
            </footer>
        </figure>
    </li>
</ol>

{% include scripts.html %}

