{% include head.html %}

{% include navigation.html %}

<div id="main" role="main">
  <div class="entry-wrapper">
    <div class="sidebar">
      <h2>
          Blog<br>
          Posts&nbsp;<a href="/feed.xml"><span class="fa fa-rss"></span></a>
      </h2>

      <ul class="post-list">
      {% for post in site.categories.blog limit:10 %}
        <li>
          <article class="h-entry">
            <a class="u-url" href="{{ site.url }}{{ post.url }}">
              <span class="p-name" style="margin-top: 0;">{{ post.title }}</span>
              <span class="entry-date">
                <time class="dt-published"
                    datetime="{{ post.date | date_to_xmlschema }}">
                      {{ post.date | date: "%B %d, %Y" }}
                </time>
              </span>
            </a>
          </article>
        </li>
      {% endfor %}
      </ul>
    </div>

    <div class="content">
      <div class="stream">
        <h2>
            Realtime<br>
            Updates&nbsp;<a href="/updates.atom"><span class="fa fa-rss"></span></a>
        </h2>
        {{ content }}
      </div>
    </div>
  </div><!-- /.entry-wrapper -->

</div><!-- /#main -->

{% include footer.html %}

{% include scripts.html %}

