{% include head.html %}

{% include navigation.html %}

<div id="main" role="main">
  <article class="hentry h-entry">
    <div class="entry-wrapper">
      <header class="entry-header">
        {% include tags.html %}
        <h1 class="sr-only entry-title p-name">
            Chimo liked {{ page.target.type }} by {{ page.target.by }}
        </h1>
      </header>

      <div class="content">
        <div class="entry-content e-content">
          <figure class="chr-card">
            <figcaption class="chr-card__title">
              Chimo liked {{ page.target.type }} by {{ page.target.by }}
            </figcaption>

            {{ content }}

            <blockquote cite="{{ page.target.url }}">
              <a class="u-like-of" href="{{ page.target.url }}">{{ page.target.title }}</a>
            </blockquote>

            <footer class="chr-card__meta">
              <a class="u-url" href="{{ page.url }}">
                <time class="timeago" datetime="{{ page.date | date_to_xmlschema }}">
                  {{ page.date | date: "%Y-%m-%d %T (%Z)" }}
                </time>
              </a>
              via
              <img src="/images/homepage/webmention.png" title="webmention">
            </footer>
          </figure>

          <hr>

          {% include interactions.html %}
        </div>
        {% include interaction-form.html %}
      </div>
    </div>
  </article>
</div>

{% include footer.html %}

{% include scripts.html %}

