<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post">

{% include navigation.html %}
{% include masthead.html %}

<div id="main" role="main">
  <article class="hentry h-entry">
    {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a>{% endif %}{% endif %}
    <div class="entry-wrapper">
      <header class="entry-header">
        <ul class="entry-tags">{% for tag in page.tags %}<li> <a class="p-category" href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a></li>{% endfor %}</ul>
        <h1 class="entry-title p-name"><a class="u-url" href="{{ page.url }}">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %} <span class="link-arrow fa fa-link"></span></a></h1>
      </header>
      <footer class="entry-meta">
        {% if page.author %}
          {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
        {% endif %}
        {% if author.avatar contains 'http' %}
        <img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
        {% else %}
        <img src="{{ site.url }}/images/{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
        {% endif %}
        <span>By <a class="h-card p-author" href="http://chromic.org">{{ author.name }}</a></span>
        <span class="entry-date date published dt-published"><time datetime="{{ page.date | date_to_xmlschema }}"><i class="fa fa-calendar-o"></i> {{ page.date | date: "%B %d, %Y" }}</time></span>
        {% if page.modified %}<span class="entry-date date modified dt-updated"><time datetime="{{ page.modified }}"><i class="fa fa-pencil"></i> {{ page.modified | date: "%B %d, %Y" }}</time></span>{% endif %}
        <span>
          <a class="interactions-link" href="#interactions">
            <ul style="float: none;" class="interaction-icons" data-webmention-count data-url="{{ site.url }}{{ page.url }}">
              <li class="interaction-icon comments">
                <span class="num">0</span>
                <span class="fa fa-comments"></span>
                <span class="sr-only">mentions</span>
              </li>
              <li class="interaction-icon likes">
                <span class="num">0</span>
                <span class="fa fa-heart"></span>
                <span class="sr-only">likes</span>
              </li>
              <li class="interaction-icon repeats">
                <span class="num">0</span>
                <span class="fa fa-recycle"></span>
                <span class="sr-only">repeats</span>
              </li>
            </ul>
          </a>
        </span>
        {% if page.share %}
        <span class="gs-share"><button class="js-gs-share">Share on GNU social</button></span>
        {% endif %}
      </footer>

      <div class="entry-content e-content">
        {{ content }}

        <div class="interactions-section">
          {% include interactions.html %}

          <label>Webmention/pingback URL:
            <input readonly value="{{ site.url }}{{ page.url }}" style="cursor: text;">
          </label>

          <h4>Comment form:</h4>
          <div id="isso-thread" class="isso-thread"></div>
          <!-- Get the form, but no comments -->
          <script data-isso-max-comments-top="0" data-isso="//comments.chromic.org/chromic/" src="//comments.chromic.org/chromic/js/embed.min.js"></script>
        </div>
      </div>
    </div>
  </article>
</div>

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>

